{% extends 'main/base.html' %}
{% block content %}
{% for object in object_list %}
<div class="col-md-4">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">{{ object }}</p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href ="{% url 'main:products' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">К продуктам</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
